#backend
backend/node_modules
/backend/node_modules
backend/.env
/backend/.env

#frontend
/frontend/node_modules
frontend/node_modules
frontend/.env
/frontend/.env
frontend/build
/frontend/build

#workers
/workers/*/node_modules
workers/*/node_modules
workers/*/.env
/workers/*/.env

# next.js
frontend/.next/
/.next/
frontend/out/
.vscode

#general
/build
.env*
backend/.env
frontend/.env
node_modules
